$grey: #555;
$dark-grey: #444;
$darker-grey: #222;
$favourit-blue:#3da1f9;
$hover-color:#6666ff;

$brown-menu:rgba(60,40,5,0.91);
$universal-blue:#0eb5de;
$universal-blue-darker: darken($universal-blue,10%);
$universal-blue-lighten: lighten($universal-blue,10%);

$site-footer-background-color: $universal-blue;